<?php
$participants = $division['participants'] ?? [];
?>
<h3>
    <?php if (empty($division)): ?>
        <a href="<?=$this->url('division', ['competitionId' => $competitionId, 'id' => $id]) ?>">
            Play <?=$title?> matches
        </a>
    <?php endif; ?>
</h3>
<div class="panel panel-default" style="min-height: 300px;">
    <div class="panel-heading">
        <h3 class="panel-title"><?= $title ?></h3>
    </div>
    <div class="panel-body">
        <table class="table">
            <tr>
                <th></th>
                <?php foreach ($participants as $ind => $participant): ?>
                    <th><?= $participant->getName() ?></th>
                <?php endforeach; ?>
            </tr>
            <?php foreach ($participants as $ind => $participant): ?>
            <tr>
                <th><?=$participant->getName()?></th>
                <?php foreach ($participants as $opponentInd => $opponent): ?>
                    <?php if ($ind === $opponentInd): ?>
                        <td class="table-active"></td>
                    <?php else: ?>
                    <td>
                        <?= $this->matchParticipantScore(
                            $participant->getMatchesWithOpponent($opponent)->get(0),
                            $participant->getId()
                        );?>
                    </td>
                    <?php endif; ?>
                <?php endforeach; ?>
                <th><?=$division['results']->get($participant->getId())->getPoints()?></th>
            </tr>
            <?php endforeach; ?>
        </table>
    </div>
</div>
