<div class="panel panel-default">
    <div class="row">
        <?php foreach ($match->getParticipantScores() as $id => $score): ?>
            <div class="col-xs-6">
                <?php $res = $match->getParticipants()->filter(function($p) use ($id) {
                    return ($p->getId() == $id);
                });
                foreach ($res as $r) {
                    echo $r->getName();
                    break;
                }
                ?>
            </div>
            <div class="col-xs-6 text-right">
                <?=$score?>
            </div>
        <?php endforeach; ?>
    </div>
</div>
