<h4>
    <?=$round->getTitle()?>
</h4>
<div class="col-xs-3">
    <?php foreach ($round->getMatches() as $match): ?>
    <div class="col-xs-8">
        <?= $this->partial('partials/playoff_match.phtml', [
            'match' => $match
        ]) ?>
    </div>
    <?php endforeach; ?>
</div>
