<div class="row">
    <div class="col-md-4">
        <?= $this->partial('partials/division_results.phtml', [
            'division' => $divisionsData->get(1),
            'competitionId' => $competitionId,
            'id' => 1,
            'title' => 'Division A',
            'results' => $results ?? []
        ]) ?>
    </div>
    <div class="col-md-4">
        <?= $this->partial('partials/division_results.phtml', [
            'division' => $divisionsData->get(2),
            'competitionId' => $competitionId,
            'id' => 2,
            'title' => 'Division B',
            'results' => $results ?? []
        ]) ?>
    </div>
    <?php if ($divisionsData->count() >= 2 && $playoffRounds->count() < 1): ?>
        <h1>
            <a href="<?=$this->url('playoffs', ['competitionId' => $competitionId])?>">
                Run playoffs
            </a>
        </h1>
    <?php endif; ?>
    <?php if ($divisionsData->count() > 0): ?>
        <div class="col-md-2">
            <h3>
                <a href="/">Start a new competition</a>
            </h3>
        </div>
    <?php endif; ?>
</div>

<div class="row">
    <?php foreach ($divisionsData as $id => $division):?>
    <div class="col-xs-2">
        <h3>
            <?=$division['title']?> top results
        </h3>
        <table>
            <?php foreach ($division['topResults'] as $result): ?>
                <tr>
                    <td><?=$result->getParticipant()->getName()?></td>
                    <th><?=$result->getPoints()?></th>
                </tr>
            <?php endforeach; ?>
        </table>
    </div>
    <?php endforeach;?>
    <?php if ($competitionStandings->count() > 0): ?>
    <div class="col-xs-2">
        <h3>
            Competition standings
        </h3>
        <table>
        <?php foreach ($competitionStandings as $result):?>
            <tr>
                <td><?=$result->getParticipant()->getName()?></td>
                <th><?=$result->getPlace()?></th>
            </tr>
        <?php endforeach; ?>
        </table>
    </div>
    <?php endif; ?>
</div>
<br />

<div class="row">
    <?php foreach ($playoffRounds as $round): ?>
        <?= $this->partial('partials/playoff_round.phtml', [
            'round' => $round
        ]) ?>
    <?php endforeach; ?>
</div>
